/*--- FONTS ---*/
@import url("https://fonts.googleapis.com/css?family=Inter:300,400,600,700,900&display=swap");
/*--- COLORS ---*/
/* EFFECTS */
/* INITIAL VALUE */
/* RESET STYLE */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* BASIC STYLE */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #20123a;
  margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

.py {
  padding: 70px 0;
}

@media (max-width: 767px) {
  .py {
    padding: 35px 0;
  }
}

/* GLOBAL STYLE */
/* ----------------------------------- */
/* BASIC STYLE */
/* ----------------------------------- */
/* nav */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

nav article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

nav article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: 40px;
  font-size: 1rem;
}

nav article ul li {
  margin-right: 40px;
}

nav article ul li:last-child {
  margin-right: 0;
}

nav article a:hover {
  color: #0060df;
}

nav .logo {
  font-size: 1.2rem;
  position: relative;
  padding-left: 2em;
}

nav .logo::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1.5em;
  width: 1.5em;
  background-image: url(../img/logo-nav.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav > a {
  border: 2px solid #0060df;
  border-radius: 5px;
  font-weight: 600;
  padding: 0.4em 3em;
  color: #0060df;
  font-size: 1rem;
}

nav > a:hover {
  background-color: #0060df;
  color: #fff;
}

/* header */
header hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}

header img {
  width: 400px;
}

/* nav */
/* nav */
/* nav */
/* nav */
/* nav */
/* nav */
/* nav */
/* nav */
/* nav */
/* nav */
/* nav */
/* nav */
/* nav */
/* nav */
/*# sourceMappingURL=style.css.map */