@import "starter";
@import "mixins";

/* GLOBAL STYLE */
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.1rem;
}
p {
  font-size: 1rem;
  line-height: 1.5;
}
button {
  background-color: $plava;
  color: $bela;
  font-family: $textFont;
  padding: 1em 2em;
  border: none;
  font-size: 1.1rem;
  transition: $transition;
  cursor: pointer;
  &:hover {
    background-color: $buttonHover;
  }
}
/* ----------------------------------- */
/* BASIC STYLE */
.mb-0 {
  &:last-child {
    margin-bottom: 0;
  }
}
/* ----------------------------------- */
/* nav */
nav {
  @include flex;
  article {
    @include flex($x: flex-start, $y: center);
    font-weight: 600;
    ul {
      @include flex($x: flex-start);
      margin-left: 40px;
      font-size: 1rem;
      li {
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    a {
      &:hover {
        color: $plava;
      }
    }
  }
  .logo {
    font-size: 1.2rem;
    position: relative;
    padding-left: 2em;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 1.5em;
      width: 1.5em;
      background-image: url(../img/logo-nav.png);
      @include bgBasic;
    }
  }
  & > a {
    border: 2px solid $plava;
    border-radius: 5px;
    font-weight: 600;
    padding: 0.4em 3em;
    color: $plava;
    font-size: 1rem;
    &:hover {
      background-color: $plava;
      color: $bela;
    }
  }
}

/* header */
header {
  background-image: url(../img/header-2.png), url(../img/header-bottom.png);
  background-repeat: no-repeat;
  background-position: center bottom, left bottom;
  height: 120vh;
  hgroup {
    @include flex($x: center, $y: center, $dir: column);
    height: 80vh;
    text-align: center;
  }
  img {
    width: 400px;
  }
  h1 {
    font-size: 3rem;
    padding: 40px 0;
  }
  h4 {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 300;
  }
  button {
    margin: 50px auto 20px;
  }
  p {
    font-size: 0.8rem;
    font-weight: 300;
    display: inline-block;
    &:last-child {
      margin-top: 50px;
    }
  }
}

/* about */
.about {
  @include flex($x: flex-start);
  article {
    flex: 0 0 50%;
    h2 {
      margin: 20px 0 30px;
    }
    p {
      margin-bottom: 30px;
      @extend .mb-0;
    }
  }
}

/* tools */
.tools {
  article {
    @include flex;
    margin-bottom: 80px;
    @extend .mb-0;
    .wrapper {
      flex: 0 0 46%;
    }
  }
  img {
    margin-bottom: 40px;
  }
  h2 {
    margin: 20px 0 30px;
  }
  a {
    text-decoration: underline;
    color: $plava;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 30px;
    display: inline-block;
  }
}

/* build */
.build {
  text-align: left;
  article {
    @include flex;
    .wrapper {
      flex: 0 0 31%;
      margin-bottom: 50px;
      &:last-child {
        margin: 0 auto;
      }
      img {
        height: 125px;
        width: auto;
        margin-bottom: 5px;
      }
      a {
        color: $plava;
        text-decoration: underline;
      }
    }
  }
}

/* footer */
footer {
  background-image: url(../img/newsletter.png);
  @include bgBasic;
  padding: 50px 0;
  article {
    background-color: $bela;
    padding: 40px;
    border-radius: 5px;
    @include flex;
    div {
      &:nth-child(1) {
        max-width: 85px;
      }
      &:nth-child(2) {
        @include flex($x: flex-start, $y: center, $dir: column);
        flex: 1;
        padding: 0 50px;
        text-align: left;
        h3 {
          margin-bottom: 20px;
          font-size: 1.3rem;
        }
      }
    }
    form {
      @include flex($x: flex-start, $y: space-between, $dir: column);
      flex: 1;
      max-width: 265px;
      input {
        font-size: 1rem;
        width: 100%;
        padding: 0.5em 1em;
      }
      button {
        width: 100%;
        padding: 0.5em 2em;
      }
    }
  }
}
